@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*, *::before, *::after {
    font-family: inherit;
    color: inherit;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

::selection {
    background-color: rgba(15, 15, 15, 0.6);
    color: #F8F8F8;
}

body {
    background-color: #3A3A3A;
    color: #F8F8F8;
    font-family: 'Figtree', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 40px 15vw;
    background-color: #303030;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

header ul a {
    display: inline-block;
    padding: 16px 24px;
    border: 1px solid #F8F8F8;
    border-radius: 24px;
    margin-left: 8px;
    transition: all 150ms ease-in-out;
}

header ul a:hover {
    background: #F8F8F8;
    color: #303030;
    border-radius: 32px;
}

main {
    width: calc(70vw);
    margin: 32px auto;
}

table {
    margin: 16px 0;
    background-color: #F8F8F8;
    color: #303030;
    border-radius: 16px;
    padding: 16px;
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 24px 24px;
    border-right: 1px solid lightgrey;
}

table th:last-child, table td:last-child {
    border-right: 0;
}

table th:first-child {
    border-radius: 16px 0 0 0;
}

table th:last-child {
    border-radius: 0 16px 0 0;
}

table tr:last-child td:first-child {
    border-radius: 0 0 0 16px;
}

table tr:last-child td:last-child {
    border-radius: 0 0 16px 0;
}

table td {
    border-top: 1px solid lightgrey;
}

.task_checkbox input {
    cursor: pointer;
    display: block;
    margin: auto;
}

main button {
    cursor: pointer;
    display: inline-block;
    padding: 16px 24px;
    background-color: #3A3A3A;
    color: #F8F8F8;
    border: 1px solid #F8F8F8;
    border-radius: 24px;
    margin-left: 8px;
    font-size: 1rem;
    transition: all 150ms ease-in-out;
}

main button:hover {
    background: #F8F8F8;
    color: #303030;
    border-radius: 32px;
}

footer {
    height: 80px;
    background-color: #303030;
    margin-top: auto;
    padding: 16px 15vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.styled_link {
    transition: all 150ms ease-in-out;
    opacity: 0.8;
}

.styled_link:hover {
    opacity: 1;
}
